.html {
    color: #e44d26;
}

.css {
    color: #2ea7d9;
}

.js {
    color: #ecd717;
}

.react {
    color: #5ed3f3;
}

.swift {
    color: #fd7e15;
}

.python {
    color: #3775a9
}

.xml {
    color: #ee7801
}

.php {
    color: #7377ac
}

.sql {
    color: #005e86
}

.node {
    color: #8bbf3d
}