.social-media-icon {
    flex: 33.3%;
}

.center-icon {
    margin-left: -25%;
    margin-right: -25%;
}

.icons {
    flex: 33.3%;
}

.fab {    
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0% 3% 3%;
    border-radius: 100%;
    background-color: black;
    color: white !important;
}

.fa-youtube, .fa-github, .fa-linkedin{
    background-color: black;    
    transition: background-color 0.5s;
}

.fa-youtube:hover {
    background-color: #FF0000;
}

.fa-github:hover {
    background-color: #3e75c4;
}

.fa-linkedin:hover {
    background-color: #2867B2;
}