@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed&display=swap');

header {
    display: flex;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    margin: 0%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 2.5rem;
}

p, li, a {
    font-family: 'Roboto', sans-serif;
    color: #4a4a4a;
    font-size: 1.2rem;
}

ul {
    list-style-type: circle;
    text-align: left;    
}

hr {
    margin-left: 5%;
    margin-right: 5%;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: hsl(204, 86%, 53%)
}

a:hover, a:active {
    color: #2F80ED
}

.header-title {
    font-size: 3rem;
    background: -webkit-linear-gradient(200deg, #ECE9E6, #FFFFFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    background: -webkit-linear-gradient(200deg, #56CCF2, #2F80ED);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-link {
    margin-left: 2%;
    margin-right: 2%;
}

.row{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 0deg, #855988, #6b4984, #483475, #2b2f77, #141852, #070b34);
}

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-element {
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {    
    max-width: 40%;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 2% 2%;
    overflow: hidden;
    transform: translatey(0px);
    
}

.card-float {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.break {    
    width: 100%;
}

.to-homepage {
    margin-top: -10%;
}

.bg-link:link, .bg-link:visited {
    background: -webkit-linear-gradient(200deg, #ECE9E6, #FFFFFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-link:hover, .bg-link:active {    
    background: #2F80ED;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}